<footer>
    <a href="./{{prev}}" class="previous-link">{{prev}}</a>
    <a href="/" class="top-link">Top</a>
    <a href="./{{chapter}}" class="chapter-link">{{chapter}}</a>
    <a href="./{{next}}" class="next-link">{{next}}</a>
</footer>
