{{#> templates/base header=title includeFooter=false}}
{{#* inline "content"}}
<div id="chapter-page-content">
    <h1>{{title}}</h1>
    {{#if indexImage}}
    <img src="/index.jpg">
    {{/if}}
    {{#each order as |main|}}
    <section>
        <h2 class="chapter-title">{{main}}</h2>
        <ul class="chapter-contents">
            {{#each (lookup @root/chapters this) as |sub|}}
            <li><a class="page-entry" href="{{linkify main}}/{{linkify sub}}">{{sub}}</a></li>
            {{/each}}
        </ul>
    </section>
    {{/each}}
</div>
{{/inline}}
{{/templates/base}}
